img{
	max-width: 90%;
}

a{
	color: #000000;
}

.img-productos{
	max-width: 80%
}

.img-redes{
	max-width: 60%;
}

.img-insta{
	max-width: 85%;
}
.quitar-float{
	float:none;
}

.espacio-arriba{
	margin-top: 40px;
}

.espacio-arriba-img{
	margin-top: 60px;
}

.espacio-arriba-cat{
	margin-top: 60px;
}

.espacio-row{
	margin-top: 100px;
}

.margin-links{
	margin-top: 0px;
}

.margin-triskel{
	text-align: right;
}

.margin-tienda{
	text-align: left;
}

.kaushan{
	font-family: 'Kaushan Script', cursive;
	color: #000000;
	font-size: 4em;
}

.kaushan-nav{
	font-family: 'Kaushan Script', cursive;
	color: #000000;
	font-size: 2em;
}

.rokkitt{
	font-family: 'Rokkitt', serif;
	font-size: 17px;
}

.rokkitt-grande{
	font-family: 'Rokkitt', serif;
	font-size: 35px;	
}

.rokkitt-eg{
	font-family: 'Rokkitt', serif;
	font-size: 45px;	
}

.no-lista li{
	list-style-type: none;
}

.lista-libre{
	padding: 0px;
	margin: 0px;
}

.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}

.gris-back{
	background-color: #A7A7A7;
}

.padding-largo{
	padding: 5px, 10px;
}

.gris{
	color: #A7A7A7;
}

.negro{
	color: #000000;
}

.espacio-rayas{
	margin-bottom: 	30px;
}

.retraso-15{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.retraso-5{
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

.repetir{
	animation-iteration-count: infinite;
}

.vete-arriba{
	vertical-align: top;
}

.vete-abajo{
	vertical-align: end;
}